# Add your Supabase credentials here
# DO NOT commit the actual .env file to GitHub

VITE_SUPABASE_URL=https://smpfvswbzglqrypbcemh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_I386w9KzpftKESjgDUqtrw_fvlpbvUC
VITE_SUPABASE_ANON_KEY=sb_publishable_I386w9KzpftKESjgDUqtrw_fvlpbvUC